button {
    border: none;
    background-color: blueviolet;
    font-size: 24px;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: blue;
  }